<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup><TargetFramework>net8.0</TargetFramework><Nullable>enable</Nullable></PropertyGroup>
  <ItemGroup>
    <ProjectReference Include="..\IFX.Modules.ModuleName.Application\IFX.Modules.ModuleName.Application.csproj" />
    <ProjectReference Include="..\IFX.Modules.ModuleName.Infrastructure\IFX.Modules.ModuleName.Infrastructure.csproj" />
    <ProjectReference Include="..\IFX.Modules.ModuleName.Presentation\IFX.Modules.ModuleName.Presentation.csproj" />
  </ItemGroup>
</Project>
